<mat-toolbar color="primary">
  <a routerLink="" mat-button routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <mat-icon>home</mat-icon>
  </a>

  <div fxFlex="stretch"></div>

  <a routerLink="/debouncer" mat-button routerLinkActive="active">
    <span>Debouncer</span>
  </a>

  <div fxFlex="stretch"></div>

  <a mat-button href="https://github.com/rt-gavrilov/test-job-unknown-company" target="_blank"
     fxFlexAlign="stretch" fxLayoutAlign="center center">
    <img src="assets/github.logo.png" style="width: 32px; height: 32px; filter: invert(100%);">
  </a>
</mat-toolbar>


<router-outlet></router-outlet>
