<p>
  1. Необходимо передать на сервер набор параметров, не перезагружая при этом страницу браузера.
  Расскажите, как это сделать: перечислите все возможные способы и назовите самый кроссбраузерный.
</p>

<p>
  2. Имплементируйте общее решение, позволяющее вызывать любую функцию не чаще N раз в секунду,
  даже если её вызов происходит чаще. Знание Rx приветствуется, но необходима своя реализация.
</p>

<p>
  3. Используя Angular, реализуйте простой todo list, использующий в качестве базы данных web storage.
  В лист можно добавлять и удалять элементы. Для написания стилей используйте scss.
</p>

<p>Результат выполнения заданий выложите на Github.</p>

<p>Пункт 1 не нужно реализовывать, 2 и 3 нужно реализовать.</p>
